html {
  scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, a{
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    color: CornflowerBlue ;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

h3 {
    display: inline-block;
    overflow-wrap: break-all;
}

h4 {
    padding-top: 10px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.container {
    padding: 0px;
}

#main-content {
    padding: 0px;
}

#header {
    display: inline-block;
    padding: 0px;
    position: top;
    z-index: -1;
}

img.banner {
    width: 100%;
}

#info {
    margin-left: 0px;
    padding-top: 10px;
    transition: all 0.5s;
}

.item {
    margin-bottom: 50px;
}

#sidebar {
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.5s;
}

#sidebar .row {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    margin-left: -300px;
    transition: all 0.5s;
}

button:focus {
    outline: 0;
}

.navbar-toggler {
    position: fixed;
    transition: all 0.5s;
}

.name {
    margin: auto;
    padding: 0px;
}

#info .row {
    padding: 60px;
}

.pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

ul#nav-list {
    margin-bottom: 0px;
    padding: 0px;
    transition: all 0.5s;
    list-style-type: none;
}

li {
    margin: 10px;
    padding: 5px;
}

a {
    color: black;
    font-size: 16pt;
}

a:hover {
    color: white;
    text-decoration: none;
}
